.patient {
}

.title {
  text-transform: uppercase;
  font-weight: 700;
}

.patient_header {
  background-color: var(--grey-color);
  padding: 10px 20px;

  button {
    background-color: var(--green-color);
    border: none;
    padding: 5px 10px;
    color: var(--white-color);
    border-radius: 5px;
  }
}

.patient_about {
  padding: 5px 10px;
}

.dop_arr {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;

  svg {
    font-size: 17px;
    color: var(--dark-grey-color);
  }
}

.patient_info {
  &_fio {
    font-weight: 700;
  }
}

.act_btn {
  color: var(--blue-color);
  cursor: pointer;

  svg {
    font-size: 18px;
  }
}

.active_med {
  padding: 10px 20px 0 20px;

  &_title {
    padding: 5px 10px;
    background-color: var(--light-green-color);
    border: 1px solid var(--green-color);
    border-radius: 5px;
  }
}

.create_btn_wrap {
  position: fixed;
  bottom: 0;
  background-color: var(--grey-color);
  padding: 10px 20px 30px 10px;
}

.create_btn {
  width: 100%;
  background-color: var(--green-color);
  border: none;
  padding: 10px;
  color: var(--white-color);
  border-radius: 5px;
}

.tel {
  a:hover {
    color: white !important;
  }
}
